@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";

/* ================================================================ */
/* Box Model                                                        */
/* - Any style that affects spacing of elements. Includes flags     */
/* - like absolute positioning, hidden overflow.                    */
/* ================================================================ */
@import "../bower_components/shared-styles/box-model.less";

button[type="submit"].btn-block {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: @grid-gutter-width;
}

.editor-container {
  position: relative;
  height: 256px;
  
  #editor-asm, #editor-mem, #editor-mem-ascii { 
    position: absolute;
    width: 100%;
    height: 256px;
    border: 1px solid @white-smoke-luma;
  }
}

/* ================================================================ */
/* Text                                                             */
/* ================================================================ */
@import "../bower_components/shared-styles/text.less";



/* ================================================================ */
/* Theme                                                            */
/* ================================================================ */
@import "../bower_components/shared-styles/theme.less";

.assemble-error {
  position: absolute;
  background: @naples-yellow;
  z-index: 20;
}

table#assemble-output tbody tr:hover {
  background-color: @white-smoke-luma;
}
